div  {
    background-color: purple;
    width: 500px; 
}
  div.text2  {
    background-color: blue;
    width: 500px;
}
 div.text3  {
    background-color: white;
    width: 500px;
}
 div.text4 {
    background-color: green;
    width: 500px;
}
 div.text5  {
    background-color: yellow;
    width: 500px;
}
 div.text6  {
    background-color: orange;
    width: 500px;
}
 div.text7 {
    background-color: red;
    width: 500px;
}
div {
text-align: center
}
